{% if error is empty %}
{{ base }}

{{ date }}

{% if listRate is not empty %}
{% for rate in listRate %}
{{ rate.key }} = {% if rate.value is not empty %}{{ rate.value }}{% else %}[нет данных]{% endif %}

{% endfor %}
{% else %}
Нет данных
{% endif %}
{% else %}
{% if error == 1 %}
Некорректные параметры запроса, введите /h для справки.
{% elseif error == 2 %}
Дата указана неверно, правильный формат: <b>YYYYMMDD</b>. Пример даты: 19700131.
{% else %}
Новая и непонятная ошибка, простите =).
{% endif %}
{% endif %}