Бот определяет текущий курс валюты по отношению к другим валютам.

Доступные команды:
1.  /h - получить текущую справку;
2.  /c {валюта}{список валют для поиска}{дата} - получить информацию о курсе валюты.

-   {валюта} - название валюты(3 символа);
-   {список валют для поиска} - список валют без пробелов, например RUREUR;
-   {дата} - дата за которую нужно получить отношение валют, формат даты yyyyMMdd(например 20101005, 5 октября 2010 года).

Примеры команды:  <b>/c RUB, /c EURRUB, /c EURRUBUSD, /c EUR20100510</b>.